.artist-art {
    background-color: #161b1f;
    background-position: top center;
    background-repeat: no-repeat;
    background-size:contain;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    margin-top: -7vh;
    z-index: -1;
}

body {
  background: rgba(22,27,31,1);
}
.body {
}

.app-container {
  position: relative;
  background: rgba(22,27,31,1);
  z-index: 2;
}

.side-padding {
  padding-left: 9%;
}

.artist-fade {
  background: linear-gradient(to bottom, rgba(22,27,31,.0) 0%,rgba(22,27,31,0.5) 14.9vh,rgba(22,27,31,0.9) 24.9vh, rgba(22,27,31,.95) 25.5vh,rgba(22,27,31,1) 46vh)
}
.artist-information {
  z-index: 2;
  position: relative;
  margin-top: 7vh;
  padding-top: 22vh;

  color: #fff;
}
.artist-information-top {
  display: flex;
  align-items: center;
}

.artist-information .artist-name {
  font-size: 7.8vw;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
  display: inline-block;
  width:50%;
}
.artist-information .artist-social-media {
  font-size: 4.1vw;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 10px;
  display: inline-block;
  width:47%;
  text-align: right;
  padding-right:6%;
  color: #95999C;
}
.artist-information .artist-social-media .fa {
  margin: 0 2.5%;
  color: #95999C;
}


.artist-information .album-dot {
  margin: 0 .05vw;
}

.artist-bio {
  color: #95999C;
  font-size: 3.9vw;
  font-weight:lighter;
  font-family: 'Work Sans', sans-serif;
  padding-right:10%;
  /* For right now */
  height: 4.1em;
  overflow-y: scroll;
}

.artist-nav-bar {
  overflow-x: scroll;
  padding-right: 9%;
  background-color: rgba(22,27,31,1);
  width: 100%;
  height: 7.5vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left:9%;
  position: relative;
}

.artist-nav-bar-container.fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  left:0;
}
.artist-nav-bar-placeholder {
  display: none;
}
.artist-nav-bar-placeholder.fixed {
  display: block;
  visibility: hidden;
}


.artist-nav-bar-item {
  font-family: 'Work Sans', sans-serif;
  color: rgb(144,148,151);
  font-size: 4.0vw;
  text-transform: uppercase;
  margin-right: 4vw;
  padding-left: 1.1vw;
  padding-bottom: 1vh;
  padding-right: 1.1vw;
  letter-spacing: 1px;
  border-bottom: 3px solid rgba(22,27,31,1);
}

.artist-nav-bar-item.active {
  color: white;
  border-bottom: 3px solid white;
  z-index: 2;
}

.line-break {
  z-index: 1;
  border-top: 2px solid rgba(0,0,0,.05);
  height: 1px;
  border-bottom: 1px solid rgba(255,255,255,.03);
  width:100%;
}

::-webkit-scrollbar {
    display: none;
}

.artist-background-cover {
  background: rgba(22,27,31,1);
}

.popular-artist-container {

}

.popular-title {
  padding-top: 5%;
  color: rgba(184, 185, 184, 1);
  font-style: italic;
  font-size: 3.2vw;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .8vw;
  text-align: left;
  padding-left: 9%;
  padding-bottom: .5vh;
  font-weight: 500;
}
.artist-popular-tracks-container {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 1.7vh;
}

.artist-popular-tracks {
  padding-left: 7%;
  padding-top: 1.5vh;
  display: flex;
  flex-direction: column;
}

.artist-popular-tracks:nth-child(2) {
  padding-right:9%;
}
.artist-popular-track {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.9vw;
}
.artist-popular-track-img {
  width: 15vw;
}
.artist-popular-track-img img {
  width: 100%;
}
.artist-popular-track-info {
  margin-left: 4vw;
  white-space: nowrap;
  overflow: scroll;
  width: 153px;
}

.artist-popular-track-info .artist-popular-track-title {
  font-size: 6vw;
  color: white;
  letter-spacing: 1px;
  display: block;
  padding: 0;
  position: relative;
  margin-top: 2.1vw;
  width: 100%;
  line-height: 1;
}
.artist-popular-track-info .artist-popular-track-subtitle {
  font-size: 2.7vw;
  position: relative;
  color: rgb(89,90,92);
  letter-spacing: 1px;
  margin-top: -.5vw;
}

.calendar-filter {
  background-color: #0A0B0D;
  background: linear-gradient(to bottom, rgba(12,13,15,0) 0, rgba(12,13,15,.7) 9%,rgba(12,13,15,1) 11%, rgba(12,13,15,1) 89%,rgba(12,13,15,.7) 91%, rgba(12,13,15,0) 100%);
  height: 11.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -10px;
}

.calendar-filter-info {
  display: flex;
  padding-left: 6.5%;
}
.calendar-filter-year {
  width: 50%;
  text-align: left;
  font-size: 4vw;
  font-family: 'Work Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.dropdown {
  width:100%;
}
.calendar-filter-button {
  width: 50%;
  text-align: right;
  padding-right: 6%;
  color: white;
  font-size: 5vw;
}

.calendar-dates {
  margin-bottom: 1.5vh;
}

.calendar-event {
  padding-left: 6%;
  display: flex;
  height: 11.5vh;
  margin: -2px 0;
}
.calendar-event .date{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;

}
.calendar-event .date .day{
  font-size: 7.5vw;
  font-weight:500;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1;
}

.calendar-event .date .month{
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.6vh;
}

.calendar-event:first-child .date-divider{
  background: linear-gradient(to bottom, rgba(41,44,51,0) 0, rgba(41,44,51,1) 10%, rgba(41,44,51,1) 100%);
}


.calendar-event:last-child .date-divider {
  height: 13.5vh;
}
.calendar-event:last-child .date-divider .circle {
  margin-bottom: 1.5vh;
}


.calendar-event .date-divider {
  height: 100%;
  width: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(41,44,51, 1);
  align-items: center;
  margin: 0 4.5%;
}


.calendar-event .date-divider .circle {
  margin-top: 2.5px;
  width: 18px;
  background-color: rgba(22,27,31);
  height: 18px;
  border: 2.5px solid white;
  border-radius: 50%;
}

.album-section {
  background-color: rgba(41,44,51, 1);
  min-height:100px;
}
.album-section-header{
  padding-top: 3%;
  padding-left: 6%;
  padding-bottom: .7vh;

}
.album-section-title {
  color: rgba(184, 185, 184, 1);
  font-style: italic;
  font-size: 3.2vw;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .8vw;
  text-align: left;
  display:inline-block;
  width: 45%;
  font-weight: 500;
}
.album-section-search {
  margin-left: .8vw;
  display:inline-block;
  color:white;
  font-size: 4vw;
}
.album-section-filter {
  margin-left: .8vw;
  display:inline-block;
  color:white;
  font-size: 4vw;
  width: 50%;
  text-align: right;
}

.album-section-vinyl {
  margin-top:3vh;
  padding-bottom: 3vh;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
}
.vinyl-art {
  position: relative;
  display: inline-block;
  width:50%;
  height:30vw;
}

.vinyl-art-cover {
  position: absolute;
  z-index:1;
  top: 0;
  left: 0;
  height:30vw;
  width:30vw;
}

.vinyl-art-disc {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 13vw;
  height:30vw;
  width:30vw;
}
.vinyl-art-disc img{
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.vinyl-art-disc .vinyl-disc{
  border-radius: 50%;
  background-image: url("../images/vinyl2.png");
  background-position: top center;
  background-repeat: repeat;
  background-size:cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.vinyl-art-cover img, .vinyl-art-disc img{
  width: 100%;
  height: 100%;
}

.album-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 44%;
  margin-left: 2%;
  position: relative;
}

.album-description .album-title {
  font-size: 5.7vw;
  margin-left: 1.1vw;
  color: white;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: .5px;
  font-weight: 500;
}

.album-description .album-info {
  font-size: 2.3vw;
  margin-left: 1.1vw;
  color: rgb(144,148,151);
}


.related-artists {
  margin-bottom: 10vh;
}

.related-artists-title {
  padding-top: 8%;
  color: rgba(184, 185, 184, 1);
  font-style: italic;
  font-size: 3.2vw;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .8vw;
  text-align: center;
  padding-bottom: .3vh;
}

.related-artists-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 3vh 1vw;
  height: 28vh;
}
.related-artist {
  width: 32%;
  height: 27vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url('http://www.atlanticrecords.com/sites/g/files/g2000003466/f/styles/landingpage-thumbnails/public/201611/BrunoMars_Graphics_Atlantic_SiteImage_ArtistHeader_1900x700.jpg?itok=SxDz_EHB');
  background-repeat: no-repeat;
  background-position: top center;
}
.related-artist-overlay {
  z-index: 5;
  position: relative;
  height:100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,.1) 0, rgba(22,27,31,1) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
  padding-bottom: 15%;
}
.related-artist-name {
  padding-top: 20vh;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 3.2vw;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hide-calendar-event{
  display: none;
}
